wheel==0.29.0                   # Package building
twine==1.8.1                    # Package publishing
pytest==3.0.4                   # Improved testing framework
pytest-sugar==0.7.1             # Adds a progressbar and shows tests failures as they happen
pytest-pythonpath==0.7.1        # Fix the project path no matter where tests are run
pytest-mock==1.5.0              # Wrapper around mock library
flake8==3.2.1                   # Linting and static analysis
IPython                         # Helpful debugging (version largely irrelevant)
